 #profile {
	text-align: center; 
	color: #acb9ca; 
}

#title {
	color: #8eaadb;
	font-size: 30px; 
}


 #ho {
 	color: #8eaadb;
 	font-size: 15px; 
 	padding-bottom: 0px; 
  }

  #p1 {
  	color: #1f3864;
  	font-size: 12px; 
  	padding-top: 0px;  
  	padding-bottom: 0px; 
  }

  #p2 {
  	color: black; 
  	font-size: 15px; 
  	padding-top: 0px; 
  	padding-bottom: 0px; 
  }

   #p2_1 {
  	color: #7f7f7f; 
  	font-size: 15px; 
  	padding-top: 0px; 
  	padding-bottom: 0px; 
  }

  #p2_2 {
  	float: right; 
  }
